<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWuLMN1ySAuXhGpxMhrLfzKDxevCJF0Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>589044019608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VrishinPatel.CampusLostAndFound.CampusLostAndFound</string>
	<key>PROJECT_ID</key>
	<string>campuslostandfound-24e1d</string>
	<key>STORAGE_BUCKET</key>
	<string>campuslostandfound-24e1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589044019608:ios:4c573315f383da8e5f7bed</string>
</dict>
</plist>